.invisible
{
    display: none;
}

.productDetail
{
    /* border: 2px solid black; */
    margin-top: 6%;
}

.showProduct
{
    display: flex;
    justify-content: space-between;
}


.imageProduct
{
    /* border: 1px solid black; */
    width: 60%;
    /* height: 80vh; */
    margin: 1%;
    display: flex;
    flex-direction: column;

}


.theImageProduct
{
    width: 80%;
    background: white;
    display: flex;
    justify-content: center;

    /* height: 80vh; */
}

.theImageProduct img
{
    width: 67%;
}

.menuProduct
{
    background-color: #fff;
    width: 35%;
    /* height: 80vh; */
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid purple; */
}



.nomProduitStyle
{
    font-weight: bold;
    font-size: 1.8em;
    
   
}

.pStyle
{
    font-size: 1.2em;
    margin-top: 1%;
    margin-bottom: 1%;
}


.menuProduct button
{
    width: 80%;
    height: 7vh;
    cursor: pointer;
    margin: 1%;
}

.panierStyleLiens
{
    border: 1px solid #F0EB70;
    background-color: #F0EB70;
    font-size: 1.1em;
}

.panierStyleLiens:hover
{
    border-color: #b6b231;
    background-color: #b6b231;
    color: white;
}

.favorisStyleLiens
{
    border: 1px solid #f6c063;
    background-color: #f6c063;
    font-size: 1.1em;
}


.favorisStyleLiens:hover
{
    border-color: #c0841d;
    background-color: #c0841d;
    color: white;
}

.boutonDescriptionStyle
{
    border: 1px solid #B1E86C;
    background-color: #B1E86C;
    font-size: 1.1em;
}

.boutonDescriptionStyle:hover
{
    border-color: #5d941a;
    background-color: #5d941a;
    color: white;
}

.boutonStyleProduitSimi
{
    border: 1px solid #9FB8E8;
    background-color: #9FB8E8;
    font-size: 1.1em;
}


.boutonStyleProduitSimi:hover
{
    border-color: #063182;
    background-color: #063182;
    color: white;
}

.boutonStyleComm
{
    border: 1px solid #75D3B7;
    background-color: #75D3B7;
    font-size: 1.1em;
}


.boutonStyleComm:hover
{
    border-color: #037956;
    background-color: #037956;
    color: white;
}




/* ------------------------------carousselProduct Style ----------------------------------- */



.carousselProduct
{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid blue; */
    width: 100%;
    margin-top: 1%;
}


.carousselProduct button
{
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #063182;
    border-radius: 50%;
}


.carousselProduct button img
{
    width: 45%;
}


.theCarousselProduct
{
    /* border: 1px solid black; */
    width: 97%;
    /* overflow: hidden; */
    /* border: 2px solid green; */
    /* height: 53.1vh; */
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
}



.imagesCarousselProduct
{
    width: 100%;
    display: flex;
    gap: 4%;
    /* flex-direction: column; */
    
    /* border: 1px solid red; */
}


.imageCaroussel
{
    background-color: white;
    width: 10%;
    /* margin-bottom: 5%; */
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imageCaroussel img{
    width: 90%;
}

.detailMenuOpen
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.307);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailMenuContent
{
    background-color: #fff;
    width: 90%;
    height: 90vh;
    z-index: 300;
    position: fixed;
    top: 5%;
    left: 5%;
}


.retourButtonStyle
{
    width: 15%;
    height: 5vh;
    border: 1px solid #1FE379;
    background-color: #1FE379;
    cursor: pointer;
    margin: 1%;
    font-size: 1em;
}

.retourButtonStyle:hover
{
    background-color: #119951;
    border-color: #119951;
    color:white;
}