.titrePanierPStyle
{
    font-size: 1.6em;
    font-weight:bold;
    text-decoration: underline;
    text-align: center;
}

.ensemble
{
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-between;
}

.lePanier
{
    /* border: 2px solid blue; */
    width: 40%;
    /* height: 40vh; */
    margin-left: 0.5%;
}

.leProduit
{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    margin-bottom: 2%;
    background-color: #fff;
    /* flex-direction: column; */
    /* align-items: center; */
    /* height: 75vh; */
}

.infoStyle
{
    font-size: 1.2em;
}
.imageProduit
{
    /* border: 3px solid black; */
    width: 35%;
    height: 40vh;
    margin: 2%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.imageProduit img
{
    width: 100%;
}

.infoProduit
{
    /* border: 3px solid green; */
    width: 59%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.spanNomPanier
{
    font-weight: bold;
}
/* 
.quantite
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 85%;
    height: 15vh;
} */

.ajoutPanier
{
    display: flex;
    align-items: center;
}

.ajoutPanier p
{
    text-align: center;
    font-size: 1.1em;
}



.ajoutPanier input[type="number"]
{
    width: 30%;
    height: 5vh;
    border: 2px solid #BFC3C3;
    border-radius: 4px;
    font-size: 1em;
    background-color: #EEF0F0;
}

.ajoutPanier input[type="number"]::placeholder
{
    color: black;
    
}

.ajoutPanier button
{
    /* width: 26%; */
    height: 5vh;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 1.1em;
}

.ajoutPanier button:hover
{
    text-decoration: underline;
}

/* 
.quantite button
{
    cursor: pointer;
    background-color: #fff;
    border:1px solid black;
    width: 30%;
    height: 4vh;
    font-size: 1.4em;
}

.quantite button:hover
{
    background-color: black;
    color: white;
}

.quantite p
{
    font-size: 1.2em;
} */

.retirePanier
{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: end;
}




.infoProduit form
{
    /* border: 1px solid green; */
    width: 100%;
    margin-bottom: 2%;
}

.poubellStyle
{
    /* border: 1px solid green; */
    display: flex;
   
}

.SupprimerStyle
{
    border: 1px solid white;
    width: 8%;
    height: 10vh;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 1.6em;
    color: #A3A3A3;
    display: flex;
    align-items: center;
}

.SupprimerStyle:hover
{
    color: #636262;
}



/* ---------------------------------Style recapitulatif ----------------------------------------- */


.recapitulatif
{
    /* border: 2px solid black; */
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 58vh;
    background-color: #fff;
}

.titreStyle
{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.recapDiv
{
    /* border: 2px solid blue; */
    width: 70%;
    display: flex;
    justify-content: space-between ; 
}

.pStyle
{
    font-size: 1.3em;
    font-weight: bold;
}
.valideCommande
{
    /* border: 1px solid green; */
    width: 70%;
    /* height: 8vh; */
}
.commandeStyle
{
    border: 1px solid #1FE379;
    background-color: #1FE379;
    height: 8vh;
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
}

.commandeStyle:hover
{
    background-color: #075f30;
    color: white;
}




/* ----------------------------------------------Responsives------------------------------------------------------ */
