.DashboardAdmin{
    margin-top: 2%;
}

.buttonsDashboard
{
    width: 100%;
    display: flex;
}

.buttonAddProduct
{
    width: 20%;
    height: 6vh;
    border: 1px solid #5dc0d7;
    cursor: pointer;
    border-radius: 2%;
    background-color: #5dc0d7;
    font-size:1.1em;
    margin: 2%;
    box-shadow: 2px 2px 2px #0d4a57;
}


.buttonAddProduct:hover
{
    border-color: #169ab7d8;
    background-color: #169ab7d8;
    color: white;
}


.cardDashboard
{
    border: 1px solid #767676;
    margin:2%;
    padding: 2%;
    border-radius: 0.5%;
}

.buttonsDashboard2
{
    width: 95%;
    display: flex;
    margin-left: 2%;
    /* border: 1px solid black; */
}


.buttonDashBoardStyle
{
    width: 30%;
    height: 7vh;
    font-size: 1.1em;
    cursor: pointer;
    background-color:white;
    border:1px solid white;
    color: #14b36c;
    border-bottom:2px solid #14b36c;
    font-weight: bold;
}



.buttonDashBoardStyle2
{
    width: 30%;
    height: 7vh;
    font-size: 1.1em;
    cursor: pointer;
    background-color:white;
    border:1px solid white;
    color: #3d3d3d;
    border-bottom:2px solid #e2e2e2;
    font-weight: bold;
}

.buttonDashBoardStyle2:hover
{
    border-bottom:2px solid #9c9c9c;
}
