.formulaireContact
{
	box-shadow: 2px 2px 2px 2px #b6b6b6;
	border:2px solid black;
	border-radius: 0.7em;
	background-color: white;
    margin:auto;
    margin-top:1.2em;
    margin-bottom:1.2em;
	padding: 1%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.nameUser
{
	display:flex;
	width:85%;
    /* border: 1px solid blue; */
	margin-top:1.2em;
	justify-content: space-between;
	margin-top: 2%;
	margin-bottom: 2%;
}

.nameStyle
{
	display:flex;
	flex-direction:column;
	width:49%;
    /* border: 1px solid blue; */
	font-size: 1.2em;
	/* margin-right: 1%; */
}


.nameinputStyle 
{
	width:98%;
	height:6vh;
	margin-top:1%;
	border:2px solid black;
	border-radius: 0.3em;
	padding-left:1%;
	font-size: 1.1em;
}





.nameinputStyleError 
{
	width:90%;
	height:6vh;
	margin-top:1%;
	border:2px solid red;
	padding-left:1%;
	font-size: 1.1em;
}

.inputDivStyle
{
	width:85%;
	display:flex;
	flex-direction:column;
	margin-top: 2%;
	margin-bottom: 2%;
    /* border: 1px solid black; */
	font-size: 1.2em;
	
}


.inputStyle
{
	width:99%;
	height:6vh;
	margin-top:1%;
	border:1.6px solid black;
	border-radius: 0.3em;
	padding-left:1%;
	font-size: 1.1em;
}


.inputDivStyle textarea
{
	width:100%;
	height:30vh;
	margin-top:1%;
	border:1px solid black;
	padding-left:1%;
}



.buttonStyleContact
{
	width:85%;
	height:7vh;
	cursor:pointer;
	border:1px solid #8dde9d;
	background-color:#8dde9d;
	border-radius: 0.3em;
	font-size:1.4em;
	margin:1%;
}



.buttonStyleContact:hover
{
	background-color:#365e3e;
	border-color:#365e3e;
	color:white;
}



.goToConnection
{
    display: flex;
}

.goToConnection p, .goToConnection a
{
    font-size: 1.3em;
    margin-bottom: 1em;
}

.goToConnection a
{
    margin-left: 1em;
}


.errorStyle
{
	color:red;
	font-size: 1.1em;
}


.inputError
{
	border:2px solid red;width:99%;
	height:6vh;
	margin-top:1%;
	padding-left:1%;
	font-size: 1.1em;
}

.inputError:active
{
	border:1px solid red;width:99%;
	height:6vh;
	margin-top:1%;
	padding-left:1%;
	font-size: 1.1em;
}


.questionStyle
{
	height: 6vh;
	border: 2px solid black;
	color: #525251;
	border-radius: 0.3em;
	font-size: 1em;
	padding: 1%;
	margin-top: 1%;
}

.dateNaissance
{
	width: 85%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.pDateNaissanceStyle
{
	font-size: 1.2em;
}


.dateNaissanceDiv
{
	display: flex;
	/* justify-content: space-around; */
	width: 100%;
	/* border: 2px solid green; */
	margin-top: 1%;
	margin-bottom: 1%;
}

.dateNaissanceOption
{
	width: 33%;
	/* border: 2px solid black; */
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	margin-right: 1.5%;
}

.dateNaissanceOption select
{
	width: 100%;
	height: 6vh;
	border: 2px solid black;
	border-radius: 0.3em;
	margin-top: 1%;
	font-size: 0.9em;
	color: #525251;
}



.captchaStyle
{
	border:1px solid rgb(212, 212, 212);
	display: flex;
	padding: 2%;
	justify-content: space-between;
	width: 80%;
	background-color: rgb(249, 249, 249);
	margin-top: 2%;
	margin-bottom: 2%;
}


.captchaCheckbox
{
	display: flex;
	align-items: center;
	/* border:1px solid red; */
	width: 55%;
}


.captchaCheckbox label
{
	margin-left: 4%;
	font-size: 1.2em;
}

.captchaCheckbox input
{
	width: 10%;
	height: 5vh;
	border: 2px solid rgb(178, 178, 178);
}


.captchaStyle img{
	width: 14.5%;
}