.listUser{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    margin-left: 20%;
    margin-top: 2%;
}

.profilUser{
    /* border: 2px solid blue; */
    width: 40%;
    display: flex;
    align-items: center;
    margin: 1%;
}

.imageProfil{
    width: 30%;
}

.imageProfil img{
    width: 100%;
}
